.Login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #f8f8f8;
}

.LoginContainer {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #bbb;
    box-sizing: border-box;
    padding: 10px;
}

.WelcomeGuide {
    margin-left: 10px;
    font-size: 2em;
    text-align: center;
}

.LoginForm { 
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    padding: 5px;
}

.Status {
    text-align: center;
    color: #f66;
    height: 40px;
    box-sizing: border-box;
}

.LoginForm > .Username, .LoginForm > .Password { 
    border-radius: 3px;
    height: 2em;
    width: 400px;
    margin: 2px;
    border: 1px solid #e0e0e0;
    background-color: transparent;
    box-sizing: border-box;
    text-align: left;
    font-size: 1.3em;
}

.LoginForm > .Button { 
    border-radius: 3px;
    height: 2em;
    width: 400px;
    margin: 2px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    text-align: left;
    font-size: 1.3em;
}

.Link {
    text-align: end;
    margin-right: 0.5em;
}

.Button:hover {background-color: #ddd;}
.Button:active {background-color: #bbb;}